.cont3{
    height: 100%;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.tests_title{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4rem;
    font-size: x-large;
    background-attachment: fixed;
    color: white;
}
.dates{
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.dates .number{
    /* padding: 5px 10px 5px 8px; */
    width: 4%;
    background: rgba(0,0,0,.1);
    text-align:  center;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    background: #074079;
    color: white;
}
.dates a{
    display: block;
    margin-left: 2px; 
    padding-left: 10px;
    text-decoration: none;
    padding: 8px;
    color: black;
    width: 96%;
    background: rgba(0,0,0,.1);
}
.dates a:hover{
    background: rgba(0,0,0,.2);
}

.dates + .dates{
    margin-top: 10px;
    margin-bottom: 0;
}
/* .dates:hover{
    background: rgba(0,0,0,.5);
} */
.star{
    color: white;
}

@media only screen and (max-width: 992px) {
    .test_title{
        margin-left: 20px;
        margin-top: 20px;
        color: white;
    }
}


@media only screen and (max-width:600px){
    .center{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
        height: 100%;
        margin-top: 0;
        align-items: center;
    }
    .center img{
        width: 150px;
        height: 150px;
        margin-top: 10px;
        position: center;
    }
    h4{
        font-size: 15px;
    }
    .dates{
        width: 90%;
    }
    .tests_title{
        margin: 0;
        padding-left: 10px;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
    .cont3 .test_title{
        margin-left: 5px;
        margin-top: 0px;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        padding-top: 20px;
        color: white;

    }

    .test h4{
        margin-bottom: 0;
        width: 90%;
    }
    .dates .number{
        padding: 8px;
        margin-bottom: 0px;
        width: 10%;
    }
}